.doc-viewer-value .whitespace-pre-wrap {
  white-space: pre-wrap;
}

.doc-viewer-parent {
  position: relative;
  /*width: 100%;*/
  /*white-space: normal!important;*/
}

.doc-viewer-parent .doc-viewer-buttons {
  visibility: hidden;
  position: -webkit-sticky; /* Safari */
  position: absolute;
  top: 4px;
  right: 20px;
  z-index: 1000;
}

.doc-viewer-parent .doc-viewer-buttons button {
  padding: 4px;
}

.doc-viewer-parent .doc-viewer-buttons:hover {
  background-color: white;
}

.doc-viewer-parent .doc-viewer-buttons:hover ~ .doc-viewer-value {
  background-color: #B5D8FF;
}

.doc-viewer-parent:hover .doc-viewer-buttons {
  visibility: visible;
}

.doc-viewer-parent .doc-viewer-button-expand {
  display: none;
}

.doc-viewer-parent.collapsed .doc-viewer-value {
  overflow: auto;
  max-height: 200px;
}

.doc-viewer-value.language-xml,
.doc-viewer-value.language-json {
  width: 100%;
}

.doc-viewer-parent.parent-language-xml.collapsed .doc-viewer-button-expand,
.doc-viewer-parent.parent-language-json.collapsed .doc-viewer-button-expand {
  display: inline;
}


/* Tooltip text */
.doc-viewer-button .tooltiptext {
  visibility: hidden;
  width:60px;
  top: 100%;
  left: 50%;
  margin-left: -30px; /* Use half of the width (120/2 = 60), to center the tooltip */
  background-color: #474D4F;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  font-size: 12px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}


/* Show the tooltip text when you mouse over the tooltip container */
.doc-viewer-button:hover .tooltiptext {
  visibility: visible;
}

.doc-viewer-button .tooltiptext:hover {
  pointer-events: none; /* Prevent tooltip from affecting the hover state */
}
